Flask==2.3.3
numpy
pandas
plotly==5.3.1
networkx==2.6.3
matplotlib<3.8.0
dash
SQLAlchemy==1.4.23
dash-bootstrap-components==1.0.0
ollama==0.1.6
pytest
pytest-cov
dash-daq
dash-extensions
pydot
scikit-learn
playwright
