.centered-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-input{
    width: 600px;
    width: 70%;
    margin: 0 auto;
}
.button {
    width: 70%;         
    width: 150px; 
    padding: 12px 20px; /* Adds spacing inside the button */
    font-size: 12px;    /* Increases text size */
    border-radius: 5px; /* Slightly rounded corners */
    border: none;       /* Removes default border */
    background-color: black; /* Blue button */
    color: white;       /* White text */
    cursor: pointer;    /* Changes cursor to pointer */
    text-align: center; /* Centers text inside */
    margin: 4px;
}

.menu-link{
    color:black;
}

.slash{
    font-size: 28px;
    font-weight: bold;
}

.text-input{
    display: flex;
    justify-content: center;
    width: auto;
}

.prompt{
    width: 70%; 
    height: 100px;
}